<!DOCTYPE html>
<html ng-app="main">
<head>
    <title>Babble</title>
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/lib/angular.min.js"></script>
    <script src="js/mainController.js"></script>
</head>
<body ng-controller="messageApp">
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="user-icon" ng-class="{selected: convo == selectedConvo && activeScreen == 'conversation'}" ng-repeat="convo in conversations" ng-click="select(convo)">
                <img class="avatar" ng-src="{{convo.image}}" title="{{ convo.name }}" />
            </div>
            <div class="user-icon add-convo" ng-class="{selected: activeScreen == 'newConversation'}" ng-click="createConversation()">
                <img class="avatar add" src="img/icons/add_convo.png" />
            </div>
        </div>
        <div class="window-buttons">
            <div ng-if="drawButtons">
                <div class="window-btn close" ng-click="closeWindow()"></div>
                <div class="window-btn min" ng-click="minimizeWindow()"></div>
                <div class="window-btn max" ng-click="maximizeWindow()"></div>
            </div>
        </div>
    </div>
    <div class="main">
        <span class="placeholder">Babble</span>
        <div class="content conversation-screen" ng-class="{hidden: selectedConvo == null || activeScreen != 'conversation'}">
            <div class="header">
                <div class="info-pane">
                    <img class="room-image" ng-src="{{selectedConvo.image}}"></img>
                    <div class="room-details">
                        <span class="room-name">{{ selectedConvo.name }}</span>
                        <span class="members">{{ selectedConvo.members.length }} members</span>
                    </div>
                </div>
                <div class="actions">
                    <div class="button plans" title="Plans" ng-click="showPlans()"></div>
                    <div class="button users" title="Members" ng-click="showMembers()"></div>
                </div>
            </div>
            <div class="message-list">
                <div class="message" ng-repeat="msg in selectedConvo.chatHistory" ng-class="{mine: msg.sender == 'you'}">
                    <div class="message-content">{{ msg.content }}</div>
                    <img class="message-avatar" ng-src="{{selectedConvo.image}}" ng-if="msg.sender != 'you'" />
                    <span class="message-name" title="Sent by {{ msg.sender }} {{ formatTimestamp(msg.timestamp) }}">{{ msg.sender }}</span>
                </div>
            </div>
            <div class="message-bar">
                <form ng-submit="messageSent()">
                    <input type="text" ng-model="messageInput" placeholder="Type a message..." />
                </form>
                <button class="add-content" ng-click="addContent()"></button>
            </div>
        </div>
        <div class="content new-conversation" ng-class="{hidden: activeScreen != 'newConversation' }">
            <input class="title" />
            <div class="image"></div>
        </div>
    </div>
    <div class="login-form" ng-if="requiresLogin">
        <div class="content">
            <h1>Welcome to Babble</h1>
            <span>Please log in with your username and password, and the connection code provided by your administrator.</span>
            <br>
            <div class="form">
                <label for="connection_code">Connection Code</label><br>
                <input id="connection_code" name="connection_code" placeholder="Connection code..." type="text" /><br>
                <label for="username">Username</label><br>
                <input id="username" name="username" placeholder="Username..." type="text" /><br>
                <label for="password">Password</label><br>
                <input id="password" name="password" placeholder="Password..." type="password" /><br>
            </div>
            <button ng-click="connect()">Log In</button>
        </div>                
    </div>
</body>
</html>